# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
.env
.env*
frontend/.env*

# Node & Build artifacts
node_modules/
frontend/node_modules/
dist/
frontend/dist/
build/

# Logs
*.log

# OS specific files
desktop.ini
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
.gemini/
